* {
background-color: #4c9c23;
}

h1 {
color:black;
display: flex;
justify-content: center;
align-content: center;
font-family:"Bangers", system-ui;
}

.Pizza{
color: white;
}

.Color{
color: white;
}

.quiz{
color: black;
font-weight: 100;
}

.message {
    font-family:"Bangers", system-ui;
}

.LeoImg {
width: 30%;
height: 50%;
display: none;
}

.RaphImg {
width: 30%;
height: 50%;
display: none;
    }

.MikeyImg {
width: 30%;
height: 50%;
display: none;
        }

.DonnieImg {
width: 30%;
height: 50%;
display: none;
            }

.PlayAgain {
color: black;
font-weight: 100;
display: none;
        }